.example-container {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.example-textarea {
  width: 100%;
  min-height: 130px;
  resize: vertical; /* Permite al usuario ajustar la altura del textarea */
}

.copy-button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.copy-button:hover {
  background-color: #0056b3;
}

.search-container input[type="text"] {
  width: 150px;
  height: 38px;
  padding: 0 10px;
  border-radius: 15px;
  margin-right: 5px;
}
.btn.btn-primary{
  margin-right: 5px;
}

.btn.btn-light{
  background-color: #b14040;
  color: white;
}
