
<div class="token-section">
  <div>
    <p *ngIf="token[0] !== 'Token not found'">{{ 'GH_SIMULATOR.CLONE_PAGE.TOKEN_FOUND' | translate }}</p>
    <button *ngIf="token[0] !== 'Token not found' && !showToken" (click)="showToken = true">{{ 'GH_SIMULATOR.CLONE_PAGE.VIEW_TOKEN' | translate }}</button>
    <div *ngIf="showToken">
      <p>{{ 'GH_SIMULATOR.CLONE_PAGE.TOKEN' | translate:{token: token} }}</p>
      <button (click)="showEdit = true">{{ 'GH_SIMULATOR.CLONE_PAGE.EDIT_TOKEN' | translate }}</button>
    </div>
    <div *ngIf="showEdit">
      <input [(ngModel)]="newToken" placeholder="{{ 'GH_SIMULATOR.CLONE_PAGE.ENTER_NEW_TOKEN' | translate }}">
      <button (click)="updateToken()">{{ 'GH_SIMULATOR.CLONE_PAGE.UPDATE_TOKEN' | translate }}</button>
    </div>
    <div *ngIf="token[0] === 'Token not found'">
      <input [(ngModel)]="newToken" placeholder="{{ 'GH_SIMULATOR.CLONE_PAGE.ENTER_NEW_TOKEN' | translate }}">
      <button (click)="saveToken()">{{ 'GH_SIMULATOR.CLONE_PAGE.SAVE_TOKEN' | translate }}</button>
    </div>
  </div>
</div>
