<body>
<div *ngIf="repoInfo" class="repo-info">
  <h2 class="repo-name">{{ repoInfo.name }}</h2>
  <p class="repo-description">{{ repoInfo.description }}</p>

  <!-- Add more fields here -->
  <p class="repo-owner">Owner: {{ repoInfo.owner.login }}</p>
  <p class="repo-created-at">Created at: {{ repoInfo.created_at }}</p>
  <p class="repo-updated-at">Updated at: {{ repoInfo.updated_at }}</p>
  <p class="repo-language">Language: {{ repoInfo.language }}</p>
  <p class="repo-language">Visibility: {{ repoInfo.visibility }}</p>

  <h3 class="branches-title">Branches</h3>
  <ul class="branches-list">
    <li *ngFor="let branch of branches" class="branch-item">{{ branch.name }}</li>
  </ul>

  <button type="submit" class="btn-submit" (click)="cloneRepo()">Clone Repository</button>

</div>
</body>
