<div class="mat-dialog-container">
  <form>
    <p>
      El franquismo fue la dictadura que gobernó España entre 1939 y 1975, liderada por el General Francisco Franco. Esta dictadura se caracterizó por un régimen autoritario que suprimió los derechos civiles y políticos, y estableció una censura estricta. Durante este período, España experimentó un aislamiento internacional, una economía autárquica y una represión política y social.

      (Aquí puedes continuar con tu texto explicativo sobre el franquismo)
    </p>
    <button (click)="close()">Cerrar</button>
  </form>
</div>
