<body>
<div class="row justify-content-end">
  <button class="common-button btn-right2" id="volver" (click)="goBack()">{{ 'COMMON.BACK' | translate }}
  </button>
</div>
<h3> Estas viendo el archivo: {{ fileName }}</h3>
<div class="row" id="ejecucion">
  <br>
  <hr>
  <div class="col-8">
    <h3> Zona de ejecución </h3>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
      <span class="close-button" (click)="errorMessage = ''">X</span>
    </div>
    <button class="common-button" (click)="setDefaultFormat()">Establecer formato</button>
    <button class="update-button" (click)="updateYaml()">Actualizar archivo</button>

    <div class="textarea-container">
      <textarea [(ngModel)]="yamlContent" rows="10" cols="50"></textarea>
    </div>
    <button class="common-button" (click)="executeYaml()">Ejecutar YAML</button>
    <div class="response">
      <textarea id="textarea2" readonly>{{ response }}</textarea>
    </div>
  </div>
  <div class="col-4">
    <h3> Ejemplos </h3>
    <app-yamels></app-yamels>
  </div>
</div>
</body>
