<body>
<button class="btn btn-secondary btn-right" (click)="search()">{{ 'COMMON.SEARCH' | translate }}</button>
<input type="text" [(ngModel)]="searchTerm" placeholder="{{ 'COMMON.SEARCH_PLACEHOLDER' | translate }}" class="search-bar" (keyup.enter)="search()">
<input type="text" [(ngModel)]="fileName" placeholder="{{ 'METRICS_TESTER.ENTER_FILE_NAME' | translate }}">
<button (click)="saveToJson()">{{ 'METRICS_TESTER.SAVE_AS_JSON' | translate }}</button>
<p [ngClass]="messageClass">{{message}}</p>

<textarea id="dataTextarea" class="fullwidth" [(ngModel)]="data"></textarea>


<button class="btn" (click)="postContent()">{{ 'METRICS_TESTER.POST' | translate }}</button>
<div class="loading-overlay" *ngIf="isLoading">
  <div class="loader"></div>
  <p class="loading-text">{{ 'METRICS_TESTER.COLLECTING_RESOURCES' | translate }}</p>
</div>
<button class="btn" (click)="getComputation()" [disabled]="!computationUrl">{{ 'METRICS_TESTER.GET_COMPUTATION' | translate }}</button>
<div class="busquedaRespuesta">
  <button class="btn btn-secondary btn-right" (click)="searchResponse()" [disabled]="!response">{{ 'METRICS_TESTER.SEARCH_IN_RESPONSE' | translate }}</button>

  <input type="text" [(ngModel)]="searchTermResponse" placeholder="{{ 'METRICS_TESTER.SEARCH_IN_RESPONSE_PLACEHOLDER' | translate }}" class="search-bar" (keyup.enter)="searchResponse()">
</div>
<textarea id="responseTextarea" class="fullwidth" [(ngModel)]="response" readonly></textarea>

</body>
