<header>
  <div class="language-buttons">
    <button (click)="changeLanguage('en')">
      <img src="assets/flags/uk.png" alt="English">
    </button>
    <button (click)="changeLanguage('es')">
      <img src="assets/flags/spain.png" alt="Español">
    </button>
  </div>
  <nav>
    <div class="d-flex justify-content-center">
      <h1>Bluejay TP-TESTER</h1>
    </div>
    <div class="d-flex justify-content-center">
      <p>Best Practices Auditor</p>
    </div>
    <div class="d-flex justify-content-center">
      <a class="header-link" routerLink="/">Home</a>
      <a class="header-link" routerLink="/tpa-management">TPA Management</a>
      <a class="header-link" routerLink="/metrics-loader">Metrics Tester</a>
      <a class="header-link" routerLink="/gh-simulator">Repository Tester</a>
    </div>
  </nav>
</header>

