
<body>
  <h3> Docker activos </h3>
  <div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert" *ngIf="showWarning">
    <p> Si esta página se está ejecutando en un contenedor docker, no se podrán ver el resto de dockers activos. </p>
    <button type="button" class="close" aria-label="Close" (click)="showWarning = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <table class="styled-table">
    <thead>
    <tr>
      <th>ID del Contenedor</th>
      <th>Nombre del Contenedor</th>
      <th>URL</th>
      <th>Puerto</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let container of containers">
      <td>{{ container.Id }}</td>
      <td>{{ container.Name }}</td>
      <td>{{ container.Url }}</td>
      <td>{{ container.Port }}</td>
    </tr>
    </tbody>
  </table>
  <br>
  <hr>
  <h3> Github Token </h3>
  <div class="alert alert-info alert-dismissible fade show custom-alert" role="alert" *ngIf="showWarningHelp">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <p style="margin: 0;"> Cómo obtener un token de GitHub </p>
      <button type="button" class="btn btn-info" style="margin-right: 50px;" (click)="openGithubDialog()">Ayuda</button>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="showWarningHelp = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <app-token></app-token>
  <br>
  <hr>
  <h3> Swagger </h3>
  <p> Swagger es una herramienta utilizada para diseñar, construir, documentar y utilizar servicios web RESTful. Permite a los desarrolladores y usuarios entender y trabajar con una API de servicio web de una manera más fácil y visual. </p>
  <p> Desde swagger se pueden realizar las llamadas a la propia API y comprobar su correcto funcionamiento sin necesidad de otras aplicaciones como Postman.</p>
  <a href="http://localhost:6012/api-docs/" target="_blank" class="btn btn-primary">Abrir Swagger</a>
  <br>
  <hr>
  <h3> Documentación </h3>
  <embed [src]="pdfUrl" type="application/pdf" width="100%" height="600px" />
  <a href="http://localhost:6012/glassmatrix/api/v1/pdf" target="_blank" class="btn btn-primary">Abrir PDF en nueva pestaña</a>

</body>
