<body>
<h3>{{ 'CONFIG.DOCKER_ACTIVE' | translate }}</h3>
<div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert" *ngIf="showWarning">
  <p>{{ 'CONFIG.WARNING_MESSAGE' | translate }}</p>
  <button type="button" class="close" aria-label="Close" (click)="showWarning = false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table class="styled-table">
  <thead>
  <tr>
    <th>{{ 'CONFIG.CONTAINER_ID' | translate }}</th>
    <th>{{ 'CONFIG.CONTAINER_NAME' | translate }}</th>
    <th>{{ 'CONFIG.URL' | translate }}</th>
    <th>{{ 'CONFIG.PORT' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let container of containers">
    <td>{{ container.Id }}</td>
    <td>{{ container.Name }}</td>
    <td>{{ container.Url }}</td>
    <td>{{ container.Port }}</td>
  </tr>
  </tbody>
</table>
<br>
<hr>
<h3>{{ 'CONFIG.ACCESS_KEY' | translate }}</h3>
<app-access-key></app-access-key>
<hr>
<h3>{{ 'CONFIG.GITHUB_TOKEN' | translate }}</h3>
<div class="alert alert-info alert-dismissible fade show custom-alert" role="alert" *ngIf="showWarningHelp">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <p style="margin: 0;">{{ 'CONFIG.HOW_TO_GET_TOKEN' | translate }}</p>
    <button type="button" class="btn btn-info" style="margin-right: 50px;" (click)="openGithubDialog()">{{ 'CONFIG.HELP' | translate }}</button>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="showWarningHelp = false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<app-token></app-token>
<br>
<hr>
<h3>{{ 'CONFIG.GITLAB_TOKEN' | translate }}</h3>
<app-gl-token></app-gl-token>
<br>
<hr>
<h3>{{ 'CONFIG.JIRA_TOKEN' | translate }}</h3>
<app-jira-token></app-jira-token>
<br>
<hr>
<h3>{{ 'CONFIG.CONSTANTS' | translate }}</h3>
<div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert" *ngIf="showConfigWarning">
  <p>{{ 'CONFIG.MESSAGE' | translate }}</p>
  <button type="button" class="close" aria-label="Close" (click)="showConfigWarning = false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="form-group">
    <label for="baseUrl">{{ 'CONFIG.BASE_URL' | translate }}</label>
    <input type="text" class="form-control" id="baseUrl" [(ngModel)]="config.BASE_URL" name="BASE_URL">
  </div>
  <div class="form-group">
    <label for="defaultCollector">{{ 'CONFIG.DEFAULT_COLLECTOR' | translate }}</label>
    <input type="text" class="form-control" id="defaultCollector" [(ngModel)]="config.DEFAULT_COLLECTOR" name="DEFAULT_COLLECTOR">
  </div>
  <div class="form-group">
    <label for="collectorEventsUrl">{{ 'CONFIG.COLLECTOR_EVENTS_URL' | translate }}</label>
    <input type="text" class="form-control" id="collectorEventsUrl" [(ngModel)]="config.COLLECTOR_EVENTS_URL" name="COLLECTOR_EVENTS_URL">
  </div>
  <div class="form-group">
    <label for="agreementsUrl">{{ 'CONFIG.AGREEMENTS_URL' | translate }}</label>
    <input type="text" class="form-control" id="agreementsUrl" [(ngModel)]="config.AGREEMENTS_URL" name="AGREEMENTS_URL">
  </div>
  <div class="form-group">
    <label for="scopesUrl">{{ 'CONFIG.SCOPES_URL' | translate }}</label>
    <input type="text" class="form-control" id="scopesUrl" [(ngModel)]="config.SCOPES_URL" name="SCOPES_URL">
  </div>
  <button type="submit" class="btn btn-primary" (click)="updateConfig()">{{ 'CONFIG.UPDATE' | translate }}</button>
</form>
<br>
<h3>{{ 'CONFIG.SWAGGER' | translate }}</h3>
<p>{{ 'CONFIG.SWAGGER_DESCRIPTION' | translate }}</p>
<p>{{ 'CONFIG.SWAGGER_DESCRIPTION_2' | translate }}</p>
<a [href]="baseUrl + '/api-docs/'" target="_blank" class="btn btn-primary">{{ 'CONFIG.OPEN_SWAGGER' | translate }}</a>
<br>
<hr>
<h3>{{ 'CONFIG.DOCUMENTATION' | translate }}</h3>
<embed [src]="pdfUrl" type="application/pdf" width="100%" height="600px" />
<a [href]="baseUrl + '/glassmatrix/api/v1/pdf'" target="_blank" class="btn btn-primary">{{ 'CONFIG.OPEN_PDF_NEW_TAB' | translate }}</a>

</body>
