<div class="row">
  <button class="btn btn-outline-primary" id="volver" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</button>
</div>
<div class="token-section">
  <div>
    <p *ngIf="token !== 'Token not found'">{{ 'GH_SIMULATOR.CLONE_PAGE.TOKEN_FOUND' | translate }}</p>
    <button *ngIf="token !== 'Token not found' && !showToken" (click)="showToken = true">{{ 'GH_SIMULATOR.CLONE_PAGE.VIEW_TOKEN' | translate }}</button>
    <div *ngIf="showToken">
      <p>{{ 'GH_SIMULATOR.CLONE_PAGE.TOKEN' | translate:{token: token} }}</p>
      <button (click)="showEdit = true">{{ 'GH_SIMULATOR.CLONE_PAGE.EDIT_TOKEN' | translate }}</button>
    </div>
    <div *ngIf="showEdit">
      <input [(ngModel)]="newToken" placeholder="{{ 'GH_SIMULATOR.CLONE_PAGE.ENTER_NEW_TOKEN' | translate }}">
      <button (click)="updateToken()">{{ 'GH_SIMULATOR.CLONE_PAGE.UPDATE_TOKEN' | translate }}</button>
    </div>
    <div *ngIf="token === 'Token not found'">
      <input [(ngModel)]="newToken" placeholder="{{ 'GH_SIMULATOR.CLONE_PAGE.ENTER_NEW_TOKEN' | translate }}">
      <button (click)="saveToken()">{{ 'GH_SIMULATOR.CLONE_PAGE.SAVE_TOKEN' | translate }}</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div *ngIf="error" class="error">
        {{ 'GH_SIMULATOR.CLONE_PAGE.ERROR_GETTING_REPOS' | translate }}
      </div>
      <div *ngIf="error2" class="error">
        {{ 'GH_SIMULATOR.CLONE_PAGE.RATE_LIMIT_ERROR' | translate }}
      </div>
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
      <table class="table table-striped">

        <thead>
        <tr>
          <th>{{ 'GH_SIMULATOR.CLONE_PAGE.REPO_NAME' | translate }}</th>
          <th class="text-center">{{ 'GH_SIMULATOR.CLONE_PAGE.NUM_BRANCHES' | translate }}</th>
          <th class="text-center">{{ 'GH_SIMULATOR.CLONE_PAGE.LAST_UPDATE' | translate }}</th>
          <th class="text-center">{{ 'GH_SIMULATOR.CLONE_PAGE.VIEW' | translate }}</th>
          <th class="text-center">{{ 'GH_SIMULATOR.CLONE_PAGE.EDIT' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let repo of reposInfo">
          <td>{{ repo.name }}</td>
          <td class="text-center">{{ repo.branches }}</td>
          <td class="text-center">{{ repo.lastUpdate }}</td>
          <td class="text-center">
            <a [href]="repo.url" class="btn btn-primary" target="_blank">
              <i class="fa-regular fa-file"></i>
            </a>
          </td>
          <td class="text-center">
            <button class="btn btn-warning" (click)="editRepo(repo.name)">
              <i class="fa-solid fa-pen"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
