#volver {
  margin-left: auto;
  float: right;
  clear: both;
  margin-right: 40px;
  padding: 10px 20px;
  font-size: 20px;
  width: 100px;
  height: 50px;
  margin-top: 20px;

}
.token-section input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
.error {
  background-color: #c51f1f;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;
}
