textarea {
  height: 600px;
  margin-bottom: 30px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
.btn-back {
  background-color: white;
  color: #007BFF;
  border: 2px solid #007BFF;
  margin-top: 10px;
  margin-bottom: 15px!important;
}
.success {
  background-color: #32c232;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.error {
  background-color: #c51f1f;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.btn-update {
  background-color: #d9a413;
  color: white;
  border: none;
  width: auto;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}
