<h1> Testear métricas </h1>
<p> Para testear métricas, en primer lugar habrá que acceder a la página de metrics tester. En primer lugar hay una sección en donde podemos realizar acciones con las métricas ya guardadas. En la parte inferior, podemos testear una nueva métrica. </p>
<p> Por defecto, habrá una métrica en la zona de crear nueva metrica. Esta métrica es simplemente un ejemplo y es totalmente editable o directamente se puede borrar y usar una nueva.</p>
<img class="center" src="assets/images/newMetric.png" alt="Post Metrics">
<br>
<p> Una vez que hemos introduccido la métrica que queremos testear, hay que darle a publicar. Esto interactuará con el endpoint de Bluejay y tras obtener la computación inicial, se desbloqueará el botón de obtener cálculo. Esto tardará unos segundos y devolverá los valores de las métricas que estamos testando en ese repositorio.</p>
<img src="assets/images/postmetrics.png" alt="Post Metrics">
<p> Una vez que hemos comprobado la métrica (o antes si lo deseas) también habrá un botón para guardar la métrica y tenerla siempre a mano en el repostiorio local con el nombre que queramos. Cuando la tengamos guardada, ya se podrá acceder a ella desde la seccion superior y podremos volver ejecutarla, editarla o borrarla.</p>

<img src="assets/images/guardarMetrica.png" alt="Guardar Metrica">
<br><br>
<h3> Edición de métricas</h3>
<p> Si en la primera seccion accedemos a editar métrícas entraremos en una página como la inferior. Esta página tiene la opción de utilizar la hora actual (utilizará como fecha de inicio el comienzo de la hora actual, si son las 18:27, la hora de inicio será las 18:00 y la hora de final de computación serán las 18:59 del día en el que se realice). Si se guarda la métrica desde esta sección, se guardará con el periódo de calculo utilizado.</p>
<img class="center" src="assets/images/editmetrics.png" alt="Guardar Metrica">
<br>
<p> Tras esta sección de edición volverá a estar disponible la opción de probar la métrica interactuando con Bluejay</p>
<br>
