<h1>{{ 'HOME.METRICSTESTS.TITLE' | translate }}</h1>
<p>{{ 'HOME.METRICSTESTS.PARAGRAPH1' | translate }}</p>
<p>{{ 'HOME.METRICSTESTS.PARAGRAPH2' | translate }}</p>
<img class="center" src="assets/images/newMetric.png" alt="Post Metrics">
<br>
<p>{{ 'HOME.METRICSTESTS.PARAGRAPH3' | translate }}</p>
<img src="assets/images/postmetrics.png" alt="Post Metrics">
<p>{{ 'HOME.METRICSTESTS.PARAGRAPH4' | translate }}</p>
<img src="assets/images/guardarMetrica.png" alt="Guardar Metrica">
<br><br>
<h3>{{ 'HOME.METRICSTESTS.SUBTITLE' | translate }}</h3>
<p>{{ 'HOME.METRICSTESTS.PARAGRAPH5' | translate }}</p>
<img class="center" src="assets/images/editmetrics.png" alt="Guardar Metrica">
<br>
<p>{{ 'HOME.METRICSTESTS.PARAGRAPH6' | translate }}</p>
<br>
