<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="alert alert-warning" role="alert">
        You are about to enter the TPA editing screen. Once edited, you cannot go back. For more information, visit: <a href="https://docs.bluejay.governify.io/customization/agreement-modeling/team-practices-agreements" class="alert-link">https://docs.bluejay.governify.io/customization/agreement-modeling/team-practices-agreements</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-3">
      <button class="btn btn-primary btn-edit" (click)="editAll()">Edit<br>Complete<br>TPA</button>
      <button class="btn btn-secondary btn-edit" (click)="editSections()">Edit<br>Metrics and<br>Guarantees<br>Only</button>
    </div>
  </div>
</div>
