<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="alert alert-warning" role="alert">
        {{ 'TPA.EDIT.WARNING' | translate }} <a href="{{ 'TPA.EDIT.LINK' | translate }}" class="alert-link">{{ 'TPA.EDIT.LINK' | translate }}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-3">
      <button class="btn btn-primary btn-edit" (click)="editAll()">{{ 'TPA.EDIT.EDIT_COMPLETE_TPA' | translate }}</button>
      <button class="btn btn-secondary btn-edit" (click)="editSections()">{{ 'TPA.EDIT.EDIT_METRICS_GUARANTEES' | translate }}</button>
    </div>
  </div>
</div>
