<h1>{{ 'HOME.BLUEJAY.TITLE' | translate }}</h1>
<p>{{ 'HOME.BLUEJAY.PARAGRAPH1' | translate }}</p>
<ul>
  <li><strong>createTpa:</strong> {{ 'HOME.BLUEJAY.FUNCTIONS.createTpa' | translate }}</li>
  <li><strong>getTps:</strong> {{ 'HOME.BLUEJAY.FUNCTIONS.getTps' | translate }}</li>
  <li><strong>getTpa:</strong> {{ 'HOME.BLUEJAY.FUNCTIONS.getTpa' | translate }}</li>
  <li><strong>deleteTpa:</strong> {{ 'HOME.BLUEJAY.FUNCTIONS.deleteTpa' | translate }}</li>
  <li><strong>postComputation:</strong> {{ 'HOME.BLUEJAY.FUNCTIONS.postComputation' | translate }}</li>
  <li><strong>getComputation:</strong> {{ 'HOME.BLUEJAY.FUNCTIONS.getComputation' | translate }}</li>
</ul>
<p>{{ 'HOME.BLUEJAY.PARAGRAPH2' | translate }} <a [href]="'HOME.BLUEJAY.DOCS_LINK' | translate" target="_blank">{{ 'HOME.BLUEJAY.DOCS_LINK_TEXT' | translate }}</a>.</p>
