<h1>Interacción con la API de Bluejay</h1>
<p>Este proyecto utiliza la API de Bluejay para interactuar con acuerdos. Esto se hace a través de un servicio Angular llamado BluejayService. Aquí hay una descripción de cómo se utilizan algunas de las funciones en este servicio:</p>
<p> Para el funcionamiento de todos estas llamadas y de las páginas TPA-Management y Metrics Tester es necesario que esté levantado toda la estructura de Bluejay. Para más información sobre esto, visita <a href="http://docs.bluejay.governify.io" target="_blank">la documentación oficial de Bluejay</a>.</p><ul>
  <li><strong>createTpa:</strong> Crea un nuevo acuerdo con el contenido proporcionado.</li>
  <li><strong>getTps:</strong> Obtiene una lista de todos los acuerdos.</li>
  <li><strong>getTpa:</strong> Obtiene un acuerdo específico por su ID.</li>
  <li><strong>deleteTpa:</strong> Elimina un acuerdo específico por su ID.</li>
  <li><strong>postComputation:</strong> Realiza una petición POST a la API de cálculos con los datos proporcionados.</li>
  <li><strong>getComputation:</strong> Obtiene los resultados de un cálculo específico a través de su URL.</li>
</ul>

