body {
  padding: 20px 0;
  border-radius: 15px;
  margin: 0 20px;
  padding-bottom: 100px!important;
}

textarea {
  width: 100%;
  height: 500px;
  outline: none;
  resize: none;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
}

#volver {
  float: right;
  clear: both;
  padding: 10px 20px;
  font-size: 20px;
  width: 100px;
  height: 50px;
  margin: 20px 40px 20px auto;
  background-color: white;
  color: #007BFF;
  border: 2px solid #007BFF;
}
