<h1>{{ 'HOME.GITHUB.TITLE' | translate }}</h1>

<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">{{ 'HOME.GITHUB.WARNING.TITLE' | translate }}</h4>
  <p>{{ 'HOME.GITHUB.WARNING.PARAGRAPH1' | translate }}</p>
  <hr>
  <p class="mb-0">{{ 'HOME.GITHUB.WARNING.PARAGRAPH2' | translate }}</p>
</div>

<p>{{ 'HOME.GITHUB.PARAGRAPH1' | translate }}</p>
<ul>
  <li><strong>listBranchesForRepo:</strong> {{ 'HOME.GITHUB.FUNCTIONS.listBranchesForRepo' | translate }}</li>
  <li><strong>getUserName:</strong> {{ 'HOME.GITHUB.FUNCTIONS.getUserName' | translate }}</li>
  <li><strong>listRepos:</strong> {{ 'HOME.GITHUB.FUNCTIONS.listRepos' | translate }}</li>
  <li><strong>getLatestCommitSha:</strong> {{ 'HOME.GITHUB.FUNCTIONS.getLatestCommitSha' | translate }}</li>
  <li><strong>getRepoInfo:</strong> {{ 'HOME.GITHUB.FUNCTIONS.getRepoInfo' | translate }}</li>
  <li><strong>createBranch:</strong> {{ 'HOME.GITHUB.FUNCTIONS.createBranch' | translate }}</li>
  <li><strong>createFile:</strong> {{ 'HOME.GITHUB.FUNCTIONS.createFile' | translate }}</li>
  <li><strong>createPullRequest:</strong> {{ 'HOME.GITHUB.FUNCTIONS.createPullRequest' | translate }}</li>
  <li><strong>getOpenPullRequests:</strong> {{ 'HOME.GITHUB.FUNCTIONS.getOpenPullRequests' | translate }}</li>
  <li><strong>mergePullRequest:</strong> {{ 'HOME.GITHUB.FUNCTIONS.mergePullRequest' | translate }}</li>
  <li><strong>getBranches:</strong> {{ 'HOME.GITHUB.FUNCTIONS.getBranches' | translate }}</li>
</ul>

<h3>{{ 'HOME.GITHUB.TOKEN_CREATION' | translate }}</h3>
<p>
  <ng-container *ngFor="let step of 'HOME.GITHUB.TOKEN_CREATION_STEPS' | translate; index as i">
    {{i + 1}}. {{ step }}<br>
  </ng-container>
  <img class="responsive-img2" src="https://docs.github.com/assets/cb-17251/mw-1440/images/help/settings/personal-access-tokens.webp" alt="Tokens de acceso personal">
</p>
<p>{{ 'HOME.GITHUB.MORE_INFO' | translate }} <a href="https://docs.github.com/en/enterprise-server@3.9/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens" target="_blank">la documentación oficial de GitHub</a>.</p>
