.mat-dialog-container {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 5px solid #3650a2;
}
.mat-dialog-container ul {
  list-style-type: none;
  padding: 0;
}

.mat-dialog-container ul li {
  margin-bottom: 10px;
}

.mat-dialog-container textarea {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  font-family: monospace;
  white-space: pre-wrap;
}

.mat-dialog-container textarea {
  background-color: #f0f0f0;
  margin-top: -10px;
}

.header-row {
  position: sticky;
  top: -23px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  z-index: 1000;
}

.close-button {
  position: relative;
}
