<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-end mt-3">
      <button class="btn btn-back" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</button>
    </div>
  </div>
  <div class="alert alert-warning">
    {{ 'TPA.EDIT.SECTIONS.WORK_IN_PROGRESS' | translate }}
  </div>
  <h2 style="display: flex; justify-content: center; align-items: center;">{{ 'TPA.EDIT.SECTIONS.TPA_JSON' | translate }}</h2>
  <div class="row">
    <div class="col-md-12">
      <pre class="form-control" readonly>{{ tpaData | json }}</pre>
    </div>
  </div>
  <form>
    <h2 style="display: flex; justify-content: center; align-items: center;">{{ 'TPA.EDIT.SECTIONS.CONTEXT_SECTION' | translate }}</h2>
    <div class="row">
      <p>{{ 'TPA.EDIT.SECTIONS.CONTEXT_SECTION_DESCRIPTION' | translate }}</p>
      <div class="container">
        <h4>{{ 'TPA.EDIT.SECTIONS.METRICS' | translate }}</h4>
        <div class="row" *ngFor="let metric of metrics | keyvalue; let i = index">
          <div class="col-md-12">
            <h5>{{ metric.key }}</h5>
            <textarea class="form-control" [(ngModel)]="metricsJson[getKeyAsString(metric.key)]" name="metric{{i}}"></textarea>
          </div>
        </div>
        <h4>{{ 'TPA.EDIT.SECTIONS.GUARANTEES' | translate }}</h4>
        <div class="row" *ngFor="let guarantee of guarantees; let i = index">
          <div class="col-md-12">
            <h5>{{ guarantee.id }}</h5>
            <textarea class="form-control" [(ngModel)]="guaranteesJson[i]" name="guarantee{{i}}"></textarea>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
