<h1>{{ 'HOME.HOMEPAGE.TITLE' | translate }}</h1>
<p [innerHTML]="'HOME.HOMEPAGE.INTRO_PARAGRAPH' | translate"></p>
<h2>{{ 'HOME.HOMEPAGE.INTRODUCTION_TITLE' | translate }}</h2>
<h3>{{ 'HOME.HOMEPAGE.WHAT_IS_BLUEJAY_TITLE' | translate }}</h3>
<p>{{ 'HOME.HOMEPAGE.WHAT_IS_BLUEJAY_DESCRIPTION' | translate }}</p>
<h3>{{ 'HOME.HOMEPAGE.WHAT_IS_TPT_TITLE' | translate }}</h3>
<p>{{ 'HOME.HOMEPAGE.WHAT_IS_TPT_DESCRIPTION' | translate }}</p>

<h2>{{ 'HOME.HOMEPAGE.GETTING_STARTED_TITLE' | translate }}</h2>
<h3>{{ 'HOME.HOMEPAGE.DEVELOPMENT_MODE_TITLE' | translate }}</h3>
<p>{{ 'HOME.HOMEPAGE.DEVELOPMENT_MODE_STEPS' | translate }}</p>
<ol>
  <li>{{ 'HOME.HOMEPAGE.DEVELOPMENT_MODE_STEP_1' | translate }}</li>
  <li>{{ 'HOME.HOMEPAGE.DEVELOPMENT_MODE_STEP_2' | translate }}</li>
  <li>{{ 'HOME.HOMEPAGE.DEVELOPMENT_MODE_STEP_3' | translate }}</li>
</ol>
<p>{{ 'HOME.HOMEPAGE.DEVELOPMENT_MODE_DESCRIPTION' | translate }}</p>

<h3>{{ 'HOME.HOMEPAGE.DOCKER_MODE_TITLE' | translate }}</h3>
<p>{{ 'HOME.HOMEPAGE.DOCKER_MODE_STEPS' | translate }}</p>
<ol>
  <li>{{ 'HOME.HOMEPAGE.DOCKER_MODE_STEP_1' | translate }}</li>
  <li>{{ 'HOME.HOMEPAGE.DOCKER_MODE_STEP_2' | translate }}</li>
</ol>
<p>{{ 'HOME.HOMEPAGE.DOCKER_MODE_DESCRIPTION' | translate }}</p>
