body {
  padding: 20px 0;
  border-radius: 15px;
  margin: 0 20px;
}
textarea {
  flex-grow: 1;
  width: 100%;
  height: 600px;
  resize: none;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
button:enabled {
  background-color: green;
  color: white;
  margin: 5px;
}
#volver:enabled {
  background-color: inherit;
  color:dodgerblue;
}
button:disabled {
  background-color: gray;
  margin: 5px;
}
.search-bar {
  float: right;
  border-radius: 25px;
  width: auto;
}

button, pre {
  flex-shrink: 0;
}
.fullwidth{
  width: 100%;
}

textarea::-webkit-scrollbar {
  width: 10px;

}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.busquedaRespuesta{
  margin-top: -30px;
}

.loading-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 9999;
}
.loading-text {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mat-spinner circle, .mat-progress-spinner circle {
  stroke: #000;
}

.btn-right {
  float: right;
  height: 40px!important;
  margin-top: -5px!important;
  background-color: #3e64dc!important;
  width: auto;
  margin-right: 10px;
}
#volver {
  float: right;
  clear: both;
  margin-right: 25px;
  padding: 10px 20px;
  font-size: 20px;
  width: 100px;
  height: 50px;

}
#context {
  font-size: 24px;
  text-align: center;
}

#context strong {
  color: red;
}
.btn {
  display: inline-block;
}
.btn-yellow {
  background-color: #b49800 !important;
}
.btn-blue {
  background-color: #3e64dc !important;
}

.success {
  background-color: #25af25;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;

}

.error {
  background-color: #c51f1f;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;
}

.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 20px;margin-bottom: 10px!important;
}

#mensaje3{
  margin-top: 40px;
  margin-bottom: 10px;

}
