<body>
  <div class="section">
    <h1>Team Practices Agreements (TPA)</h1>
    <h2>Overview</h2>
    <p>Bluejay use Team Practice Agreements (TPAs) instead of Service Level Agreements (SLAs) since the purpose of TPAs is auditing agile teams. Nevertheless, they are the same concept and thus, TPAs must follow iAgree Syntax just like SLAs in Governify Infrastructure.</p>
    <p>TPAs are defined as a JSON or YAML documents that contain all the information to model, measure and audit one or more proccesses or information related with online services. The goal of this file is to provide enough information to retrieve data from the services and measure that the guarantees specified in the agreement are being followed.</p>
  </div>

  <div class="section">
    <h1>Metrics</h1>
    <h2>Overview</h2>
    <p>The Agreement conformed from several Guarantees contain all the information needed to compute them. Each guarantee contains an objective, which can involve one or more metrics. The metric is the instrument used to fetch the required information and extract a value for the system to verify the fulfilment of the objective.</p>
    <h2>Collectors</h2>
    <p>The collectors are the component which receiving a metric as input, are able to connect to the different data sources to extract the information needed for it, and compute the final result.</p>
    <p>Actually, there are 3 different collectors available. The metrics are modeled as a JSON object following the iAgree specification. Each collector has his own syntax and they are similar in order to be consistent but there are some differences in order to extend the features.</p>
    <h2>Event Collector</h2>
    <p>The Event Collector is capable of using different data sources as input and join the information in order to correlate different payloads composing more complex metrics. Actually it can fetch information from Github, Pivotal Tracker, Travis CI, CodeClimate and Heroku.</p>
  </div>

  <div class="section">
    <h1>GitHub Collector</h1>
    <p>Using GitHub API v4, it can access to the information from GitHub Projects Kanbans in order to keep track of the different cards and the changes.</p>
    <p>More information could be found in the oficial Github GraphQL documentation <a href="https://docs.github.com/en/graphql" target="_blank">here</a>.</p>
  </div>
</body>
