<div class="container">
  <div class="menu">
    <a (click)="currentComponent = 'home'">Home</a>
    <a (click)="currentComponent = 'tpatests'">Testear TPAs</a>
    <a (click)="currentComponent = 'metricstests'">Testear Metricas</a>
    <a (click)="currentComponent = 'repositorytester'">Testeo de repositorios</a>
    <a (click)="currentComponent = 'github'">Github API</a>
    <a (click)="currentComponent = 'bluejayapi'">Bluejay API</a>
    <a (click)="currentComponent = 'glassmatrix'">GlassMatrix API</a>
    <a (click)="currentComponent = 'langs'">Idiomas</a>
  </div>

  <div class="content">
    <app-homepage *ngIf="currentComponent === 'home'"></app-homepage>
    <app-tpatests *ngIf="currentComponent === 'tpatests'"></app-tpatests>
    <app-metricstests *ngIf="currentComponent === 'metricstests'"></app-metricstests>
    <app-repositorytester *ngIf="currentComponent === 'repositorytester'"></app-repositorytester>
    <app-github *ngIf="currentComponent === 'github'"></app-github>
    <app-bluejayapi *ngIf="currentComponent === 'bluejayapi'"></app-bluejayapi>
    <app-langs *ngIf="currentComponent === 'langs'"></app-langs>
    <app-glassmatrix *ngIf="currentComponent === 'glassmatrix'"></app-glassmatrix>
  </div>
</div>
