body {
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: 1%;
  margin-right: 10%
}

.menu {
  width: 20%;
  background-color: #f8f9fa;
  padding: 20px;
  //border-right: 1px solid #dee2e6;
  border-right: 2px solid #3e64dc;
  overflow-y: auto;
}

.menu a {
  display: block;
  color: #212529;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;

}

.menu a:hover {
  color: #007bff;
}

.content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}
@media (min-width: 1200px) {
  .container {
    margin-left: 15%;
  }
}
