<body>
<div class="section">
  <h1>{{ 'HOME.TPA_TITLE' | translate }}</h1>
  <h2>{{ 'HOME.TPA_OVERVIEW' | translate }}</h2>
  <p>{{ 'HOME.TPA_DESCRIPTION_1' | translate }}</p>
  <p>{{ 'HOME.TPA_DESCRIPTION_2' | translate }}</p>
</div>

<div class="section">
  <h1>{{ 'HOME.METRICS_TITLE' | translate }}</h1>
  <h2>{{ 'HOME.METRICS_OVERVIEW' | translate }}</h2>
  <p>{{ 'HOME.METRICS_DESCRIPTION_1' | translate }}</p>
  <h2>{{ 'HOME.COLLECTORS_TITLE' | translate }}</h2>
  <p>{{ 'HOME.COLLECTORS_DESCRIPTION_1' | translate }}</p>
  <p>{{ 'HOME.COLLECTORS_DESCRIPTION_2' | translate }}</p>
  <h2>{{ 'HOME.EVENT_COLLECTOR_TITLE' | translate }}</h2>
  <p>{{ 'HOME.EVENT_COLLECTOR_DESCRIPTION' | translate }}</p>
</div>

<div class="section">
  <h1>{{ 'HOME.GITHUB_COLLECTOR_TITLE' | translate }}</h1>
  <p>{{ 'HOME.GITHUB_COLLECTOR_DESCRIPTION_1' | translate }}</p>
  <p>{{ 'HOME.GITHUB_COLLECTOR_DESCRIPTION_2' | translate }} <a href="https://docs.github.com/en/graphql" target="_blank">here</a>.</p>
</div>
</body>
