<h1> Testear TPAs </h1>
<p> Esta seccion permite visualizar los TPAs que ya se encuentran cargados dentro de Bluejay.</p>
<img class="center" src="assets/images/existingTPA.png" alt="Existing TPA">
<br>
<p> Si seleccionamos la opción de editar, se podrá editar todo el TPA o se podrá usar un editor que permite editar métrica a métrica o añadir una nueva métrica al TPA fácilando así la edicición del TPA. En esta tabla también podemos encontrar la opción de simplemente ver el TPA o borrarlo (Esto lo borraría de Bluejay directamente). </p>
