<body>
<div class="row">
  <div class="col-4 text-right">
    <button class="btn btn-outline-primary" id="volver" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</button>
  </div>
</div>
<div class="row" id="context">
  <div>This metric is <strong>{{ fileName }}</strong> from <strong>{{tpa}}</strong></div></div>
<div class="alert alert-warning" role="alert" *ngIf="hashAreEqual && showTextMessage" style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 15px 15px 10px 15px; border-radius: 10px; text-align: center; margin: auto; max-width: 60%;">
  <button style="align-self: flex-end; background-color: transparent; border: 1px solid black; color: black;" (click)="showTextMessage = false">X</button>
  <div>
    <h3 style="margin-top: -10px;">Same content as TPA</h3>
  </div>
  <div>
    <p style="text-align: center; margin-top: -10px;">This indicates that the content<br>of this metric is the same as the one in the TPA {{tpa}}</p>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!hashAreEqual && showTextMessage" style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 15px 15px 10px 15px; border-radius: 10px; text-align: center; margin: auto; max-width: 60%;">
  <button style="align-self: flex-end; background-color: transparent; border: 1px solid black; color: black;" (click)="showTextMessage = false">X</button>
  <div>
    <h3 style="margin-top: -10px;">This TPA content has been modified</h3>
  </div>
  <div>
    <p style="text-align: center; margin-top: -10px;">This indicates that the content<br>of this metric is not the same as the one in the TPA {{tpa}}</p>
  </div>
</div>
<br>
<form>
  <h2 style="display: flex; justify-content: center; align-items: center;">{{ 'METRICS_LOADER.EXECUTOR.CONTEXT_SECTION' | translate }}</h2>
  <div class="row">
    <h4>{{ 'METRICS_LOADER.EXECUTOR.SCOPE_INFORMATION' | translate }}</h4>
    <div class="col">
      <label for="project">{{ 'METRICS_LOADER.EXECUTOR.PROJECT' | translate }}</label>
      <input type="text" id="project" [(ngModel)]="scope.project" name="project" class="form-control">
    </div>
    <div class="col">
      <label for="class">{{ 'METRICS_LOADER.EXECUTOR.CLASS' | translate }}</label>
      <input type="text" id="class" [(ngModel)]="scope.class" name="class" class="form-control">
    </div>
    <div class="col">
      <label for="member">{{ 'METRICS_LOADER.EXECUTOR.MEMBER' | translate }}</label>
      <input type="text" id="member" [(ngModel)]="scope.member" name="member" class="form-control">
    </div>
  </div>

  <div class="row">
    <h4>{{ 'METRICS_LOADER.EXECUTOR.COMPUTATION_SEARCH' | translate }}</h4>
    <div class="col">
      <label for="type">{{ 'METRICS_LOADER.EXECUTOR.TYPE' | translate }}</label>
      <input type="text" id="type" [(ngModel)]="window.type" name="type" class="form-control">
    </div>
    <div class="col">
      <label for="period">{{ 'METRICS_LOADER.EXECUTOR.PERIOD' | translate }}</label>
      <input type="text" id="period" [(ngModel)]="window.period" name="period" class="form-control">
    </div>
    <div class="col">
      <label for="initial">{{ 'METRICS_LOADER.EXECUTOR.INITIAL' | translate }}</label>
      <input type="text" id="initial" [(ngModel)]="window.initial" name="initial" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="from">{{ 'METRICS_LOADER.EXECUTOR.FROM' | translate }}</label>
      <input type="text" id="from" [(ngModel)]="window.from" name="from" class="form-control">
    </div>
    <div class="col">
      <label for="end">{{ 'METRICS_LOADER.EXECUTOR.END' | translate }}</label>
      <input type="text" id="end" [(ngModel)]="window.end" name="end" class="form-control">
    </div>
    <div class="col">
      <label for="timeZone">{{ 'METRICS_LOADER.EXECUTOR.TIMEZONE' | translate }}</label>
      <input type="text" id="timeZone" [(ngModel)]="window.timeZone" name="timeZone" class="form-control">
    </div>
  </div>
  <button class="btn btn-yellow" (click)="setToCurrentHour()">{{ 'METRICS_LOADER.EXECUTOR.ACTUAL_HOUR_COMPUTATION' | translate }}</button>
  <button class="btn btn-secondary" (click)="saveToJson()">{{ 'METRICS_LOADER.EXECUTOR.SAVE_AS_JSON' | translate }}</button>
  <button class="btn btn-blue" (click)="openGuideDialog($event)">Tutorial</button>
  <p [ngClass]="messageClass">{{message}}</p>
</form>
<div class="row">
  <h2 style="display: flex; justify-content: center; align-items: center;">{{ 'METRICS_LOADER.EXECUTOR.EXECUTION_SECTION' | translate }}</h2>

  <p [ngClass]="messageClass2">{{ message2 }}</p>
  <button class="btn btn-secondary btn-right" (click)="search()">{{ 'COMMON.SEARCH' | translate }}</button>
  <input type="text" [(ngModel)]="searchTerm" placeholder="{{ 'COMMON.SEARCH_PLACEHOLDER' | translate }}" class="search-bar" (keyup.enter)="search()">
</div>
<textarea id="dataTextarea" class="fullwidth" [(ngModel)]="data"></textarea>


<button class="btn" (click)="postContent()">{{ 'METRICS_LOADER.EXECUTOR.POST' | translate }}</button>
<div class="loading-overlay" *ngIf="isLoading">
  <div class="loader"></div>
  <p class="loading-text">{{ 'METRICS_LOADER.EXECUTOR.COLLECTING_RESOURCES' | translate }}</p>
</div>
<button class="btn" (click)="getComputation()" [disabled]="!computationUrl">{{ 'METRICS_LOADER.EXECUTOR.GET_COMPUTATION' | translate }}</button>
<div class="busquedaRespuesta">
  <div id="mensaje3" *ngIf="message3">
    <p [ngClass]="messageClass3">{{ message3 }}</p>
  </div>
  <button class="btn btn-secondary btn-right btn-search" (click)="searchResponse()" [disabled]="!response">{{ 'METRICS_LOADER.EXECUTOR.SEARCH_IN_RESPONSE' | translate }}</button>

  <input type="text" [(ngModel)]="searchTermResponse" placeholder="{{ 'METRICS_LOADER.EXECUTOR.SEARCH_IN_RESPONSE_PLACEHOLDER' | translate }}" class="search-bar" (keyup.enter)="searchResponse()">
</div>
<textarea id="responseTextarea" class="fullwidth" [(ngModel)]="response" readonly></textarea>

</body>
