<h1>{{ 'HOME.GLASSMATRIX.TITLE' | translate }}</h1>
<p>{{ 'HOME.GLASSMATRIX.PARAGRAPH1' | translate }}</p>

<h3>{{ 'HOME.GLASSMATRIX.APIFUNCTIONS' | translate }}</h3>
<ul>
  <li><strong>{{ 'HOME.GLASSMATRIX.BLUEJAYINTERACTION_TITLE' | translate }}</strong>: {{ 'HOME.GLASSMATRIX.BLUEJAYINTERACTION' | translate }}</li>
  <li><strong>{{ 'HOME.GLASSMATRIX.GITHUBACTIONS_TITLE' | translate }}</strong>: {{ 'HOME.GLASSMATRIX.GITHUBACTIONS' | translate }}</li>
  <li><strong>{{ 'HOME.GLASSMATRIX.GITHUBTOKEN_TITLE' | translate }}</strong>: {{ 'HOME.GLASSMATRIX.GITHUBTOKEN' | translate }}</li>
  <img class="center" src="assets/images/tokengh.png" alt="Github token">
</ul>

<h3>{{ 'HOME.GLASSMATRIX.APIDOCS_TITLE' | translate }}</h3>
<p>{{ 'HOME.GLASSMATRIX.APIDOCS_PARAGRAPH' | translate }}</p>

<h3>{{ 'HOME.GLASSMATRIX.EXAMPLES_TITLE' | translate }}</h3>
<p>{{ 'HOME.GLASSMATRIX.EXAMPLES_PARAGRAPH' | translate }}</p>
<img class="center" src="assets/images/swagger.png" alt="Swagger">
