<body>

<div class="row justify-content-end">
  <button class="btn btn-outline-primary btn-right2" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</button>
</div>

<div class="row">
  <p *ngIf="message" [ngClass]="message.style">{{ 'METRICS_LOADER.MESSAGE_TEXT' | translate:{messageText: message.text} }}</p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{ 'METRICS_LOADER.FILE_NAME' | translate }}</th>
          <th class="text-center">{{ 'METRICS_LOADER.VIEW_FILE' | translate }}</th>
          <th class="text-center">{{ 'METRICS_LOADER.EXECUTE_EDIT_FILE' | translate }}</th>
          <th class="text-center">{{ 'METRICS_LOADER.DELETE_FILE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file }}</td>
          <td class="text-center">
            <a [routerLink]="['/metrics-loader/viewer', file]" class="btn btn-primary">
              <i class="fa-regular fa-file"></i>
            </a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/metrics-loader/executor', file]" class="btn btn-warning">
              <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td class="text-center">
            <button class="btn btn-danger" (click)="deleteFile(file)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
