<body>

<div class="row justify-content-end">
  <button class="btn btn-outline-primary btn-right2" id="volver" (click)="goBack()">{{ 'COMMON.BACK' | translate }}</button>
</div>
<h3 id="titulo" class="page-title">{{ 'METRICS_LOADER.TITULO1' | translate }}</h3>
<hr>
<div class="row message-row">
  <p *ngIf="message" [ngClass]="message.style">{{ 'METRICS_LOADER.MESSAGE_TEXT' | translate:{messageText: message.text} }}</p>
</div>
<h4 class="metrics-title">{{ 'METRICS_LOADER.TPA_METRICS' | translate }} </h4>
<hr>
<div class="container metrics-container">
  <div class="row justify-content-center">
    <div *ngIf="allFoldersEmpty()" class="empty-message">
      <p>{{ 'METRICS_LOADER.NO_METRICS' | translate }}</p>
    </div>
    <div *ngFor="let folder of folders" class="folder-container">
      <ng-container *ngIf="loadSubdirectoryFiles(folder).length > 0">
        <h5 class="folder-title"> {{ folder }} </h5>
        <table class="table table-striped folder-table">
          <thead>
          <tr>
            <th>{{ 'METRICS_LOADER.FILE_NAME' | translate }}</th>
            <th class="text-center">{{ 'METRICS_LOADER.VIEW_FILE' | translate }}</th>
            <th class="text-center">{{ 'METRICS_LOADER.EXECUTE_EDIT_FILE' | translate }}</th>
            <th class="text-center">{{ 'METRICS_LOADER.DELETE_FILE' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of loadSubdirectoryFiles(folder)">
            <td>{{ file }}</td>
            <td class="text-center">
              <a [routerLink]="['/metrics-loader/tpa/viewer', folder, file]" class="btn btn-primary">
                <i class="fa-regular fa-file"></i>
              </a>
            </td>
            <td class="text-center">
              <a [routerLink]="['/metrics-loader/tpa/executor', folder, file]" class="btn btn-warning">
                <i class="fa-solid fa-pen"></i>
              </a>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="deleteTPAFile(folder, file)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>
<h4 class="metrics-title"> {{ 'METRICS_LOADER.INDIVIDUAL_METRICS' | translate }} </h4>
<hr>
<div class="container metrics-container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{ 'METRICS_LOADER.FILE_NAME' | translate }}</th>
          <th class="text-center">{{ 'METRICS_LOADER.VIEW_FILE' | translate }}</th>
          <th class="text-center">{{ 'METRICS_LOADER.EXECUTE_EDIT_FILE' | translate }}</th>
          <th class="text-center">{{ 'METRICS_LOADER.DELETE_FILE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of individualFiles">
          <td>{{ file }}</td>
          <td class="text-center">
            <a [routerLink]="['/metrics-loader/viewer', file]" class="btn btn-primary">
              <i class="fa-regular fa-file"></i>
            </a>
          </td>
          <td class="text-center">
            <a [routerLink]="['/metrics-loader/executor', file]" class="btn btn-warning">
              <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td class="text-center">
            <button class="btn btn-danger" (click)="deleteFile(file)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
<div class="createMetric">
  <h3 class="page-title">{{ 'METRICS_LOADER.TITULO2' | translate }}</h3>
  <p [ngClass]="messageClass">{{ message2 }}</p>
  <button class="btn btn-secondary btn-right" (click)="search()">{{ 'COMMON.SEARCH' | translate }}</button>
  <input type="text" [(ngModel)]="searchTerm" placeholder="{{ 'COMMON.SEARCH_PLACEHOLDER' | translate }}" class="search-bar" (keyup.enter)="search()">
  <input id="filename" type="text" [(ngModel)]="fileName" placeholder="{{ 'METRICS_TESTER.ENTER_FILE_NAME' | translate }}">
  <button id="filename2" class="btn btn-save" (click)="saveToJson()">{{ 'METRICS_TESTER.SAVE_AS_JSON' | translate }}</button>
  <button class="btn btn-blue" (click)="openGuideDialog($event)">Tutorial</button>
  <button class="btn btn-blue" (click)="copyDefault()">Copy example metric</button>
  <button class="btn btn-blue" id="papelera" (click)="clearData()"><i class="fas fa-times"></i></button>
  <textarea id="dataTextarea" class="fullwidth" [(ngModel)]="data"></textarea>


  <button class="btn" (click)="postContent()">{{ 'METRICS_TESTER.POST' | translate }}</button>
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loader"></div>
    <p class="loading-text">{{ 'METRICS_TESTER.COLLECTING_RESOURCES' | translate }}</p>
  </div>
  <button class="btn" (click)="getComputation()" [disabled]="!computationUrl">{{ 'METRICS_TESTER.GET_COMPUTATION' | translate }}</button>
  <div class="busquedaRespuesta">
    <div id="mensaje" *ngIf="message3">
      <p [ngClass]="messageClass">{{ message3 }}</p>
    </div>
    <button class="btn btn-secondary btn-right" (click)="searchResponse()" [disabled]="!response">{{ 'METRICS_TESTER.SEARCH_IN_RESPONSE' | translate }}</button>

    <input type="text" [(ngModel)]="searchTermResponse" placeholder="{{ 'METRICS_TESTER.SEARCH_IN_RESPONSE_PLACEHOLDER' | translate }}" class="search-bar" (keyup.enter)="searchResponse()">
  </div>
  <textarea id="responseTextarea" class="fullwidth" [(ngModel)]="response" readonly></textarea>
</div>
</body>
