<h1>{{ 'HOME.REPOSITORYTESTER.TITLE' | translate }}</h1>
<p>{{ 'HOME.REPOSITORYTESTER.PARAGRAPH1' | translate }}</p>
<img class="center" src="assets/images/ghtester1.png" alt="Pantallas github tester">
<p>{{ 'HOME.REPOSITORYTESTER.PARAGRAPH2' | translate }}</p>
<img class="center" src="assets/images/ghtester2.png" alt="Tokens y repositorios">
<br>
<p>{{ 'HOME.REPOSITORYTESTER.PARAGRAPH3' | translate }}</p>
<div class="image-container">
  <img class="image-item" src="assets/images/slider1.png" alt="Pantalla rammas">
  <img class="image-item" src="assets/images/slider2.png" alt="Pantalla PR">
  <img class="image-item" src="assets/images/slider3.png" alt="Pantalla commit/push">
</div>
<p>{{ 'HOME.REPOSITORYTESTER.PARAGRAPH4' | translate }}</p>
<br>
