<h2>Manual Testing Page</h2>

<p>The Manual Testing page provides a user-friendly interface for testing the functionality of the application. It provides two main options: creating a new repository or working with a cloned repository.</p>
<img src="assets/images/img.png" alt="Manual Testing">

<h3>Clone New Repository</h3>
<p>Here you can see all the repositories that the entered token has access to.</p>
<p>Each repository will also have two buttons: the "View" button, which will redirect you to the GitHub page of the repository, and the "Edit" button, which will take you to the clone page.</p>

<h4>Clone Page</h4>
<p>The Clone page allows you to clone a specific repository. It displays the details of the repository, including its name, description, owner, creation time, update time, language, visibility, and a list of all branches. It also provides a button to clone the repository.</p>

<h3>Cloned Repository</h3>
<p>This section allows you to work with a cloned repository. It provides a brief description of the process and a button to start working with the cloned repository.</p>
<img src="assets/images/clonedRepos.png" alt="Cloned Repositories">

<h4>Branches Page</h4>
<p>The page allows you to manage the branches of a repository. It provides options to view the branches, create a new branch, delete a branch, and change the current branch.</p>

<h4>Pull Requests Page</h4>
<p>The Pull Requests page provides a user-friendly interface for managing the pull requests of a repository. It provides options to create a new pull request, view the open pull requests, and merge a pull request.</p>

<h4>Actions Page</h4>
<p>The Actions page interface for managing a repository. It provides options to view the available branches, change the current branch, create a new file, create a new commit, push changes, view files in the repository, and manage issues.</p>
