<h1>Testeo de repositorios</h1>
<p>Al entrar en la pantalla, vamos a poder elegir entre dos subpantallas.</p>
<img class="center" src="assets/images/ghtester1.png" alt="Pantallas github tester">
<p>La primera de ella será la página para clonar un nuevo repositorio. En ella, al inicio hay una sección para añadir o editar el token de github y tras introducir un token válido aparecen todos los repositorios a los que tiene acceso con ese token. </p><p> Además cada repositorio que aparezca listado tendrá dos opciones, verlo en github para asegurarnos de que es el repositorio que queremos clonar y otra pantalla opción es la de editar que permite clonar el repositorio en local.</p>
<img class="center" src="assets/images/ghtester2.png" alt="Tokens y repositorios">
<br>
<p>Por otro lado, si en la pantalla principal de Repository Tester accedemos a repositorios clonados, listará todos los repositorios que hayamos clonado ya, y para cada uno de ellos tendremos 3 opciones, una para crear / eliminar o cambiar de rama. Otra opción para realizar pull requests y otra opción que permitirá crear archivos y realizar commits y pushes.</p>
<p>A continuación se pueden ver como son las vistas de las 3 opciones:</p>
<br>
<div class="image-container">
  <img class="image-item" src="assets/images/slider1.png" alt="Pantalla rammas">
  <img class="image-item" src="assets/images/slider2.png" alt="Pantalla PR">
  <img class="image-item" src="assets/images/slider3.png" alt="Pantalla commit/push">
</div>
