body {
  padding: 20px 0;
  border-radius: 15px;
  margin: 0 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

button {
  margin-right: 10px;
}
.success {
  background-color: #32c232;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.error {
  background-color: #c51f1f;
  margin-top: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
textarea {
  height: 600px;
  margin-bottom: 30px;
}
