th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.textarea-container {
  display: flex;
  align-items: center;
}

input, textarea {
  margin-bottom: 10px;
}

body {
  padding: 20px 0;
  border-radius: 15px;
  margin: 0 20px;
  padding-bottom: 100px!important;
}

.close-button {
  float: right;
  cursor: pointer;
  padding: 0 10px;
}
.loading-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 9999;
}
.alert {
  position: relative;
  padding: 20px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
textarea {
  width: 100%;
  height: 600px;
  resize: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.textarea-container textarea {
  flex-grow: 1;
  margin-bottom: 10px;
}

.save-container {
  display: flex;
  justify-content: flex-start;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  line-height: 20px;
  background-color: transparent;
  cursor: pointer;
}
table.table-striped td a.btn-primary {
  background-color: #007bff;
  color: white;
}

table.table-striped td a.btn-warning {
  background-color: #ffc107;
  color: white;
}

table.table-striped td button.btn-danger {
  background-color: #dc3545;
  color: white;
}
table.table-striped td button.btn-info {
  background-color: #17a2b8;
  color: white;
}
table.table-striped th, table.table-striped td {
  width: 20%;
}
table.table-striped td a.btn, table.table-striped td button.btn {
  width: 40px;
}
table.table-striped td a.btn {
  border: none;
  cursor: pointer;
}
table.table-striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

table.table-striped tr:nth-child(odd) {
  background-color: #ffffff;
}

#ejecucion{
  margin-left: 10%;
  margin-right: 10%;
}

button.save-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button.format {
  background-color: #3e64dc;
  border: none;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button.execute-button {
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 20px;
}
.close.float-right {
  float: right;
}
