<body>
  <div class="container">
    <h3> {{ 'TESTS.title' | translate }}</h3>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <table class="table table-striped">
          <tr>
            <th>{{ 'METRICS_LOADER.FILE_NAME' | translate }}</th>
            <th class="text-center"> {{ 'TESTS.copy' | translate }} </th>
            <th class="text-center">{{ 'METRICS_LOADER.VIEW_FILE' | translate }}</th>
            <th class="text-center">{{ 'METRICS_LOADER.EXECUTE_EDIT_FILE' | translate }}</th>
            <th class="text-center">{{ 'METRICS_LOADER.DELETE_FILE' | translate }}</th>
          </tr>
          <tr *ngFor="let file of yamlFiles">
            <td>{{file}}</td>
            <td class="text-center">
              <button class="btn btn-info" (click)="loadFileContent(file)">
                <i class="fa-solid fa-copy"></i>
              </button>
            </td>
            <td class="text-center">
              <a [routerLink]="['/tester/yamlView/', file]" class="btn btn-primary">
                <i class="fa-regular fa-file"></i>
              </a>
            </td>
            <td class="text-center">
              <a [routerLink]="['/tester/yamlEdit', file]" class="btn btn-warning">
                <i class="fa-solid fa-pen"></i>
              </a>
            </td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="deleteYamlFile(file)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row" id="ejecucion">
    <br>
    <hr>

    <div class="col-8">
      <h3> {{ 'TESTS.ejecucion' | translate }} </h3>
      <input [(ngModel)]="fileName" placeholder="Nombre del archivo" />
      <button class="save-button" (click)="saveYaml()">{{ 'TESTS.guardar' | translate }}</button>
      <div *ngIf="saveStatusMessage" class="alert alert-success">
        {{saveStatusMessage}}
        <span class="close-button" (click)="saveStatusMessage = ''">X</span>
      </div>
      <button class="format" (click)="setDefaultFormat()">{{ 'TESTS.formato' | translate }}</button>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
        <span class="close-button" (click)="errorMessage = ''">X</span>
      </div>
      <div class="textarea-container">
        <textarea [(ngModel)]="yamlContent" rows="10" cols="50"></textarea>
      </div>
      <button class="execute-button" (click)="executeYaml()">{{ 'TESTS.ejecutar' | translate }}</button>
      <div class="response">
        <textarea id="textarea2" readonly>{{response}}</textarea>
      </div>
      <div class="computaionResponse" *ngIf="computationResponse">
        <textarea id="textarea3" readonly>{{computationResponse}}</textarea>
      </div>
    </div>
    <div class="col-4">
      <h3> {{ 'TESTS.ejemplos' | translate }} </h3>
      <app-yamels></app-yamels>
    </div>
  </div>


</body>
